<div>
	<h1>
		About us!
	</h1>
</div>

<p>
	We're a small start-up gym that is based in the Financial District and caters directly to single men and women. With our state-of-the-art gym equipment and our weekly singles mixers, you'll get a buff body that will help you land the partner of your dreams!
</p>

<div>
	<h2>
		Our Team
	</h2>
</div>

<div class="team">
	<h3>
		Marcela Mosken
	</h3>
</div>

<img src="">

<div class="team_bio">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>

<div class="team">
	<h3>
		Bradley Showalter
	</h3>
</div>

<img src="">

<div class="team_bio">
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</p>
</div>