<script type="text/javascript"></script>
<link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<style type="text/css">

div #classes_one {
  display: block;
  text-align: center;
  color: #262a2b;
  padding: 60px 0px 50px;
  text-transform: uppercase;
}
div #classes_two {
  display: block;
  text-align: center;
  color: #262a2b;
  padding: 60px 0px 50px;
  text-transform: uppercase;
}
.ul_figures li{
	display: inline-block;
	margin:30px;
}
#classes_wrapper{
	text-align: center;
	margin: 0 auto;
}
#h1_classes{
	color:red;
	font-size: 40px;
	font-family:Arial;
}
img{
		border-radius: 100px;
}

</style>
<div id="classes_wrapper">
<h1 id= "h1_classes"> Classes </h1>
<div>
	<ul class= "ul_figures">
		<li> <img src="/images/images_classes/pilates.jpg" width="200" height="200" alt="Pilates"></li>
		<li> <img src="/images/images_classes/yoga.jpg" width="200" height="200" alt="Yoga"></li>
		<li> <img src="/images/images_classes/kickbox.png" width="200" height="200" alt="Kickbox"></li>
	</ul>
</div>
<div>
	<ul class= "ul_figures">
		<li> <img src="/images/images_classes/personal_trainer.png" width="200" height="200" alt="Personal Training"></li>
		<li> <img src="/images/images_classes/spinning.jpg" width="200" height="200" alt="Spinning"></li>
		<li> <img src="/images/images_classes/lifting.jpg" width="200" height="200" alt="Wheight lift"></li>
	</ul>
</div>
<div>
	<ul>
		<li> <img src="">images</li>
		<li> <img src="">images</li>
		<li> <img src="">images</li>
	</ul>
</div>


