<script type="text/javascript"></script>
<link href="http://fonts.googleapis.com/css?family=Raleway:200,100,400" rel="stylesheet" type="text/css" />
<style type="text/css">
</style>
<div id="classes_wrapper">
<h1 id= "h1_classes"> Classes </h1>
<div>
	<ul class= "ul_figures">
		<li> <img class="img_classes"src="/images/images_classes/pilates.jpg" width="200" height="200" alt="Pilates">
		<figcaption> Our gym offer morning, afternoon, and evening Pilates sessions every day.Enjoy with us all benefits!</figcaption></li>
		<li> <img class="img_classes"src="/images/images_classes/yoga.jpg" width="200" height="200" alt="Yoga"><figcaption>Daily sessions of different styles of Yoga.All of our yoga instructors have many years of experience.</figcaption></li>
		<li> <img class="img_classes"src="/images/images_classes/kickbox.png" width="200" height="200" alt="Kickbox"><figcaption>Intense kickboxing and dance moves all perfectly choreographed to high energy and motivating music</figcaption></li>
	</ul>
</div>
<div>
	<ul class= "ul_figures">
		<li> <img class="img_classes"src="/images/images_classes/personal_trainer.png" width="200" height="200" alt="Personal Training"><figcaption>Certified fitness experts
		Flexible schedule. Affordable prices discounts for package from 5:30am to 12:30am</figcaption></li>
		<li> <img class="img_classes"src="/images/images_classes/spinning.jpg" width="200" height="200" alt="Spinning"><figcaption>Indoor cycling is a group exercise class performed on stationary bikes. It is a fantastic cardiovascular workout.</figcaption></li>
		<li> <img class="img_classes"src="/images/images_classes/lifting.jpg" width="200" height="200" alt="Wheight lift"><figcaption>
		We polled 100-plus top trainers for the weight room equipment that will get you fittest fastest.
		</figcaption></li>
	</ul>
</div>



