<div class="home">
	<div class="form_trial">
		<h1 class="free_trial">
			Free Trial
		</h1>

		<p>
			Sign up for a free 7 day trial!
		</p>

		<!-- form for a free trial -->
		<form method="POST" action="/home" >
			<label for="fname">
				First Name:
			</label>
			<br>
			<input type="text" name="fname">
			<br>
			<label for="lname">
				Last Name:
			</label>
			<br>
			<input type="text" name="lname">
			<br>
			<label for="email">
				Email
			</label>
			<br>
			<input type="text" name="email">
			<br>
			<label for="confirmEmail">
				Confirm Email:
			</label>
			<br>
			<input type="text" name="confirmEmail">
			<br>
			<input type="submit" class="home_button" name="Submit!">
		</form>
	</div>

	<div class="join_button">
		<h1>
			Or join today!
		</h1>

		<form>
			<input type="submit">
		</form>
	</div>
</div>
