<h1> Send us an email </h1>
<style>
#wrapper_join{
	width: 800px;
	margin:0 auto;
}
#div_form_join{
  width:360px;
  margin:0 auto;
  border: 5px solid #C42A22;
  font-family: Arial;
  text-align: left;
  height: 300px;
  background-color:rgba(253, 127, 120,.7); 
  float: left;
}

#div_form_join_two{
  width:380px;
  margin:0 auto;
  border: 5px solid #C42A22;
  font-family: Arial;
  text-align: left;
  height: 300px;
  background-color:rgba(253, 127, 120,.7); 
  float:right;

}
#form_join{
	font-size: 20px;
	font-weight: bolder;
	font-family: Arial;
	display: inline-block;
	float: left;
	padding:5px;
}
#form_join_two{
	font-size: 20px;
	font-weight: bolder;
	font-family: Arial;
	display: inline-block;
	float: left;
	padding:5px;
}
#form_join input {
	width: 340px;
	display:inline-block;
	float:right;	
	margin: 0;
	text-align: center;
	padding-top: 20px;
}
#form_join_two input {
	display:inline-block;
	float:right;	
	margin: 0;
	text-align: center;
	width: 360px;
	padding-top: 20px;

}
textarea{
	width: 360px;
	height: 100px;
	padding: 5px;
}
.btn{
	background-color: #780600;
	border-radius: 10px;
	border-color: #780600;
	font-size: 27px;
	padding-top: 10px;
	font-family: Arial;
	color:#FBA7AB;
	line-height: 1em;
}

footer{
	clear: both;
}


</style>
<div id="wrapper_join">
<div id="div_form_join">
	<form id="form_join" method="POST" action="/join_us">
	<label for="name">Name</label></br>
	  <input type="text" name="name"></br></br>
	<label for="adress">Adress</label></br>
	  <input type="text" name="address"></br></br>
		  <label for="email">Email</label></br>
	  <input type="text" name="email"></br>
	</br>
	  <input class="btn" type="submit">
	</form>
</div>
<div id="div_form_join_two" method="POST" action="/join_us">
	<form id="form_join_two">
		  <label for="email">Email</label></br>

		  <input type="text" name="email"></br>

		</br>
		  <label for="message">Message</label>
		</br>
		  <textarea type="text" name="message"></textarea> </br>
		  <input class="btn" type="submit">
	</form>	 
</div>
</div>