
	<div id="wrapper_join">
		<h1 id="h1_join"> Sign up <span>Send us an email</span></h1> 
	<div id="div_form_join">
		<form id="form_join" method="POST" action="/join_us">
		<label for="name">Name</label></br>
		  <input type="text" name="name"></br></br>
		<label for="adress">Adress</label></br>
		  <input type="text" name="address"></br></br>
			  <label for="email">Email</label></br>
		  <input type="text" name="email"></br>
		</br>
		  <input class="btn" type="submit">
		</form>
	</div>
		
	<div id="div_form_join_two" method="POST" action="/join_us">

		<form id="form_join_two">
			  <label for="email">Email</label></br>

			  <input type="text" name="email_user"></br>

			</br>
			  <label for="message">Message</label>
			</br>
			  <textarea type="text" name="message"></textarea> </br>
			  <input class="btn" type="submit">
		</form>	 
	</div>
</div>