<h1> Send us an email </h1>
<form method="POST" action="/contact">
  <label for="email">Email</label>
  <input type="text" name="email"></br>
</br>
  <label for="message">Message</label>
</br>
  <textarea type="text" name="message"></textarea> </br>
  <input type="submit">
</form>
