<!DOCTYPE html>
<html>
	<head>
		<title>
			<%= @title %>
		</title>

		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="/css/home.css">

		<script type="text/javascript" src="/jquery-2.1.3.js"></script>
		
		<script type="text/javascript" src="/javascript/"></script>

	</head>

	<body>
		<img src="/images/barbell_logo.png" class="logo">
		<h1 id='tag_line'> 
			Our gym is your best partner!
		</h1>

		<div class="nav_bar">
			<nav>
				<ul>
					<!-- hash for nav_bar -->
					<% navigation = {"Home" => "/", "About Us" => "/about", "Classes" => "/classes", "Join Us" => "/join"} %>
					<!--loop for nav_bar -->
					<% navigation.each do |key, value| %>
					<li>
						<!-- nav_bar linking with "value" -->
						<a href=<%= value %>>
							<!-- nav_bar naming with "key" -->
							<%= key %>
						</a>
					</li>
					<% end %>
				</ul>
			</nav>
		</div>

		<%= yield %>

		<footer>
			<a href="https://www.facebook.com">
				Visit us at Facebook!
			</a>
		</footer>
	</body>
<html>