<!DOCTYPE html>
<html>
	<head>
		<title>

		</title>

		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="/css/">

		<script type="text/javascript" src="/jquery-2.1.3.js"></script>
		
		<script type="text/javascript" src="/javascript/"></script>

	</head>

	<body>
		<div class="nav_bar">
			<!-- hash for nav_bar -->
			<% navigation = {"Home" => "/", "About Us" => "/about", "Classes" => "/classes", "Join Us" => "/join"} %>
			<!--loop for nav_bar -->
			<% navigation.each do |key, value| %>
			<nav>
				<ul>
					<li>
						<!-- nav_bar linking with "value" -->
						<a href=<%= value %>>
							<!-- nav_bar naming with "key" -->
							<%= key %>
						</a>
					</li>
				</ul>
			</nav>
			<% end %>
		</div>

		<%= yield %>

		<footer>
			<a href="https://www.facebook.com">
				Visit us at Facebook!
			</a>
		</footer>
	</body>
<html>